<div id="fullpage">
    <app-counter class="section" id="fp-section1"></app-counter>
    <app-chart class="section" id="fp-section2"></app-chart>
    <app-info class="section" id="fp-section3"></app-info>
</div>
